body { background-color:#000; color:#bbb; }

/* COMMON */
a { color:#ccc; }
a:hover { color:#fff; }
sup, .sosumi { color:#76797c; }

/* GLOBAL NAV */
#globalheader #globalnav li a,
#globalheader #globalsearch { background-image: url(http://altnet.online/global/nav/images/globalnavbgblack.png); _background-image: url(http://altnet.online/global/nav/images/globalnavbg.gif); }

/* CONTENT */
#content { color:#a8a8a8; }
#content h2, #content h3, #content p.intro { color:#ccc; }

/* SIDEBARS */
#main .sidebar { color:#ccc; }

/* BREADCRUMBS */
#breadcrumb { color:#ccc; }

/* NEW BREADCRUMBS */
#breadcrumbs { color: #999; background-image: url(http://altnet.online/global/nav/images/breadcrumb_bgblack.png); text-shadow: none; }
#breadcrumbs a { color: #999; }
#breadcrumbs a:hover { color: #ccc; }
#breadcrumbs span { background-image: url(http://altnet.online/global/nav/images/breadcrumb_sepblack.png); }
.gf-900 #breadcrumbs { background-image: url(http://altnet.online/global/nav/images/breadcrumb_bgblack900.png); }

/* DIRECTORY NAV */
#directorynav { background-image: url(http://altnet.online/global/nav/images/directory_bgblack.png); border-color: #272727; }
#directorynav .column.first { background-image: url(http://altnet.online/global/nav/images/directory_bgblack.png); }
#directorynav h3 { color: #999; }
#directorynav a:link,
#directorynav a:visited { color: #666; text-decoration: none; }
#directorynav h3.standalone a:link,
#directorynav h3.standalone a:visited { color: #999; }
#directorynav a:hover { color: #ccc !important; }
#directorynav .capbottom { background-image: url(http://altnet.online/global/nav/images/directory_capbgblack.png); }
.gf-900 #directorynav { background-image: url(http://altnet.online/global/nav/images/directory_bgblack900.png); }
.gf-900 #directorynav .capbottom { background-image: url(http://altnet.online/global/nav/images/directory_capbgblack900.png); }

/* FOOTER */
#globalfooter { color:#aaa; }
#globalfooter.gf-980,
#globalfooter.gf-900 { color: #767676; }
#globalfooter.gf-980 .gf-sosumi,
#globalfooter.gf-900 .gf-sosumi { border-color: #272727; }

/* PRINT */
@media print {
	body, #main, #content { background:#fff !important; color:#000 !important; }
	a, a:link, a:visited { color:#000 !important; text-decoration:none; }
}
